@media (max-width: 426px) {
	.g-0 {
		padding-left: 90px;
	}
	.munch-padding {
		padding-left: 40px;
	}
	.carousel-img-size {
		max-height: 215px;
	}
	.galery__h1 {
		text-align: center;
	}
	footer {
		.map {
			width: 60%;
		}
	}
}