$color_1: rgb(169, 55, 55);
$color_2: black;
$color_3: rgb(169, 84, 52);
$font-family_1: quicksand;
$font-family_2: lora;
$background-color_1: bisque;
$background-color_2: peachpuff;
$background-color_4: rgb(195, 154, 118);
$background-color_5: white;