//ARTISTS

.artists__section {
	background-color: $background-color_1;

	.artists__section-h1 {
		font-family: $font-family_1;
		font-weight: bolder;
		text-decoration: underline;
		margin-left: 10px;
		margin-top: 20px;
	}

	.artists__section-h2 {
		font-family: $font-family_2;
		font-size: larger;
		margin-left: 15px;
	}

}

.artists__section-art {
	.g-0 {
		background-color: $background-color_1;
	}

	.artists__article-card-border {
		border-color: $background-color_1;
		margin-left: 15px;
	}

	.artists__article-card-color {
		background-color: $background-color_1;
	}

	.card-body {
		h2, h3, h4, h5, h6, h7 {
			font-size: 20px;
			font-family: $font-family_1;
			font-weight: bold;
		}
		p {
			font-family: $font-family_1;
			font-weight: normal;
		}
	}
}


@media (max-width: 426px) {
	.g-0 {
	  padding-left: 90px;
	}
	
	.munch-padding {
	  padding-left: 40px;
	}
}

@media (max-width: 376px) {
	.g-0 {
	  padding-left: 65px;
	}
	
	
	.munch-padding {
	  padding-left: 12px;
	}
}

@media (max-width: 321px) {
	.g-0 {
	  padding-left: 40px;
	}
	
	.munch-padding {
	  padding-left: 0px;
	  padding-right: 15px;
	}
}