//GALERY

.galery__h1 {
	@include fonts($font-family_1, 50px, bolder);
	margin-top: 30px;
	margin-left: 20px;
	text-decoration: underline;
}

.scale-up-hor-center {
	-webkit-animation: scale-up-hor-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
	        animation: scale-up-hor-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
}

@-webkit-keyframes scale-up-hor-center {
	0% {
	  -webkit-transform: scaleX(0.4);
			  transform: scaleX(0.4);
	}
	
	100% {
	  -webkit-transform: scaleX(1);
			  transform: scaleX(1);
	}
}

@keyframes scale-up-hor-center {
	0% {
	  -webkit-transform: scaleX(0.4);
			  transform: scaleX(0.4);
	}
	
	100% {
	  -webkit-transform: scaleX(1);
			  transform: scaleX(1);
	}
}
  
  

.galery__section {
	margin-top: 20px;
	margin-bottom: 50px;
	
	.carousel-img-size {
		display: flex;
		width: 90%;
		height: 100%;
		border: solid $color_2 3px;
		max-height: 600px;
		margin: auto;
	}
	
	.carousel-item {
		img {
			width: 100%;
			background-color: $color_2;
			object-fit: contain;
		}
	}
	
	.carousel-indicators {
		[data-bs-target] {
			width: 20px;
			height: 2px;
		}
	}
	
	.carousel-caption {
		h5 {
			-webkit-text-stroke-width: 1.5px;
			-webkit-text-stroke-color: $color_2;
			font-size: 30px;
			font-weight: bolder;
		}
		p {
			-webkit-text-stroke-width: 1.5px;
			-webkit-text-stroke-color: $color_2;
			font-size: 20px;
			font-weight: bold;
		}
		opacity: 0.6;
		transition: 0.5s;
		&:hover {
			opacity: 1;
		}
	}
	
	.carousel-control-next {
		width: 25%;
	}
	
	.carousel-control-prev {
		width: 25%;
	}
}

@media (max-width: 768px) {
	.galery__section {
		.carousel-caption {
		opacity: 1;
		}
		.carousel-indicators button {
			border: solid 2px black;
		}
	}
	.carousel-img-size {
	  max-height: 385px;
	}
	.galery__h1 {
	  text-align: center;
	}
}

@media (max-width: 426px) {
	.carousel-img-size {
		max-height: 215px;
	}
	
	.galery__h1 {
		text-align: center;
	}
}

@media (max-width: 376px) {
	.carousel-img-size {
	  max-height: 189px;
	}
	
	.galery__h1 {
	  text-align: center;
	}
}

@media (max-width: 321px) {
	.carousel-img-size {
	  max-height: 160px;
	}
	.galery__h1 {
	  text-align: center;
	}
  }