* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: $background-color_1;
	
	&::-webkit-scrollbar {
		width: 9px;
		background: none;
	}
	
	&::-webkit-scrollbar-thumb {
		background: rgb(165, 129, 85);
		border-radius: 10px;
		border-right: solid 2px $background-color_1;
		
		&:hover {
			background: rgb(163, 110, 44);
		}
		
		&:active {
			background: rgb(130, 76, 11);
		}
	}
}


//HEADER

header {
	@include disp-just(flex, space-between);
	background-color: $background-color_2;
	align-items: center;
	width: 100%;
	
	ul {
		@include disp-just(flex, center);
		list-style-type: none;
		gap: 50px;
		margin-right: 15px;
		margin-left: 15px;
		margin-bottom: 20px;
		text-align: center;
		padding: 0;
		
		a {
			&:hover {
				color: $color_1;
			}
			text-decoration: none;
			color: $color_2;
		}

		.artist-nav {
			color: $color_1
		}

		.galery-nav {
			color: $color_1
		}

		.guide-nav  {
			color: $color_1
		}

	}
	
	li {
		@include fonts($font-family_1, 20px, bolder)
	}
	.logo {
		@include disp-just(flex, center);
		height: 100px;
		width: 100px;
		margin-left: 15px;
	}
}



.hr-footer {
	margin-top: auto;
	width: 100%;
}

.hr_footer {
	background-color: $color_2;
	height: 4px;
	width: 100%;
	margin: 0;
	opacity: 1;
}


//FOOTER

footer {
	@include disp-just(flex, space-evenly);
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	align-items: center;
	gap: 70px;
	background-color: $background-color_4;
	padding-bottom: 20px;

	.map {
		width: 20%;
		margin: 15px 0px 0px 15px;
		border: solid;
	}

	p {
		@include fonts($font-family_1, 13px, bold);
		display: flex;
		flex-wrap: wrap;
		color: black;
	}

	div {
		
        ul {
			list-style-type: none;
			flex-wrap: wrap;
			display: flex;
			gap: 20px;
			margin: 0px 0px 0px 0px;
			
            li {
				border-bottom: solid $background-color_4;
				margin-top: 25px;
				margin-bottom: 25px;
				font-family: $font-family_1;
				font-weight: bolder;
				&:hover {
					border-color: $color_3;
				}
			}
		}
	}
	ul {
		a {
			text-decoration: none;
			color: $color_2;
			font-size: smaller;
			
            &:hover {
				color: $color_3;
			}
		}
	}
}

@media (max-width: 1025px) {
	footer {
		gap: 30px;
	}
}
