//INDEX

main {
	width: 100%;


	.index__main-img {
		@include disp-just(flex, space-evenly);
		padding-top: 25px;
		background-color: $background-color_1;
		flex-wrap: wrap;
		gap: 7%;


		.index__main-img-box {
			margin-top: 20px;
			border: solid $color_2 4px;
			width: 96%;
			max-width: 400px;
			max-height: 270px;
			display: flex;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				background-color: $background-color_5;
			}
		}
	}

	.index__main-txt {
		@include fonts($font-family_2, 15px, 600);
		display: flex;
		background-color: $background-color_1;
		padding: 10px 100px 10px 100px;
	}
}


.index__article {
	width: 100%;
	@include disp-just(flex, space-evenly);
	padding-top: 70px;
	padding-bottom: 30px;
	background-color: $background-color_1;
	flex-wrap: wrap;


	.index__article-1 {
		img {
			background-color: $background-color_5;
			border: solid;
			box-sizing: border-box;
			padding: 0px 71px 0px 71px;
			max-height: 264px;
		}
		
		.index__article-2 {
			@include fonts($font-family_2, 13px, 700);
			text-align: center;
		}
	}

	.index__article-3 {
		img {
			max-width: 340px;
			border: solid;
		}
		
		.index__article-4 {
			@include fonts($font-family_2, 13px, 700);
			text-align: center;
		}
	}

	.index__article-5 {
		img {
			max-height: 258px;
			border: solid;
			background-color: $background-color_5;
			padding: 0px 70px 0px 70px;
		}
		
		.index__article-6 {
			@include fonts($font-family_2, 13px, 700);
			text-align: center;
		}
	}
}